.contacto {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.contacto-contenido{
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.contacto-principal {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.contacto-titulo{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-titulo-texto{
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-size: 80px;
    font-weight: 700;
    color: #eae0c8;
    letter-spacing: 2px;
    text-shadow: 4px 4px 4px #e9a642;
    text-align: center;
  }
